@import "tailwindcss";

@import "@flaticon/flaticon-uicons/css/regular/all";

@import "./fonts.css";


:root {
  --bg-color: #f7f9fd;

  font-family: 'ChulabhornLikit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold tracking-tight;
}

#app {
  @apply min-h-screen flex flex-col;
}

.card {
  @apply bg-white p-4 rounded-lg;
}